input {
  beats {
    port => {{ apache_logstash_port }}
  }
}

filter {
  json {
    source => "message"
  }
}

output {
  elasticsearch {
    hosts => ["{{ apache_elk_server }}"]
    user => "{{ apache_elk_username }}"
    password => "{{ apache_elk_password }}"
    ssl => true
    index => "apache-logs-%{+YYYY.MM.dd}"
  }
  stdout { codec => rubydebug }
}
