[defaults]
interpreter_python = auto_silent
transport = ssh
host_key_checking = False
ansible_ssh_extra_args='-o StrictHostKeyChecking=no'
show_custom_stats = True

stdout_callback = yaml
callbacks_enabled = community.general.counter_enabled, community.general.log_plays

# Just fun :)
;cow_selection=three-eyes
nocows = True

# Add i18n Jinja2 extension
jinja2_extensions = jinja2.ext.i18n
filter_plugins    = filter_plugins

[connection]
pipelining = True
